*{
    box-sizing: border-box;
}
html,body{
    margin:0;
    font-family: var(--font-family-primary);
    color: var(--secondary-color)

}

:root{
    --primary-color: #B9FF66;
    --secondary-color: #191A23;
    --grey-color: #F3F3F3;
    --font-family-primary: "Space Grotesk", sans-serif;
    height: 100%;
    width:100%
}

h1{
    font-size: clamp(2.6875rem, 2.2351rem + 1.6832vw, 3.75rem);
    font-family: "Space Grotesk", sans-serif;
    margin: 0;
}

h2{
    font-size: clamp(2.25rem, 2.1436rem + 0.396vw, 2.5rem);
    font-family: "Space Grotesk", sans-serif;
    margin: 0;
}

h3{
    font-size: clamp(1.875rem, 1.9814rem + -0.396vw, 1.625rem);
    font-family: "Space Grotesk", sans-serif;
    margin: 0;
}

h4{
    font-size: clamp(1.125rem, 1.0718rem + 0.198vw, 1.25rem);
    font-family: "Space Grotesk", sans-serif;
    margin: 0;
}

p{
    font-size: clamp(1rem, 0.9468rem + 0.198vw, 1.125rem);
    font-family: "Space Grotesk", sans-serif;
    margin: 0;
}

.vertical-line{
    min-height: 200px;
    width:0.15em;
    background-color: #ffffff;
}

.container{
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
    padding: 0 2em;
    position: relative;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    
}

.header-logo-wrap{
    flex: 1;
}

.nav-links-wrapper{
    display: flex;
    flex: 2.5;
    justify-content: space-between;
    align-items: center;
    transform: translateX(0%);
}

.nav-links-wrapper ul{
    
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap:1em;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.header-nav-link{
    font-size: clamp(1.125rem, 1.0718rem + 0.198vw, 1.25rem);
    transform: scale(1);
    transition: all 300ms;
    background-color: transparent;
    padding: 0.5rem 1rem;
    border-radius: 15px;
}
.header-nav-link:hover{
    color: var(--secondary-color);
    transform: scale(1.1);
    background-color: var(--primary-color);
}
.mobile-nav{
    cursor: pointer;
    display: none;
}


.hero{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    padding: 2rem 0;

}

.hero-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.hero-texts{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}

.black-btn{
    background-color: var(--secondary-color);
    color: white;
    padding: 1.25em 2.188em;
    font-family: "Space Grotesk", sans-serif;
    margin: 0;
    font-size: 1.125rem;
    border: 2px solid transparent;
    border-radius: 14px;
    align-self: flex-start;
    cursor: pointer
}


.black-btn:hover{
    background-color: var(--primary-color);
    color:#000000;  
}

.white-btn{
    background-color: white;
    padding: 1.25em 2.188em;
    font-family: "Space Grotesk", sans-serif;
    margin: 0;
    font-size: 1.125rem;
    border: 2px solid var(--secondary-color);
    border-radius: 14px;
    align-self: flex-start;
    cursor: pointer
}

.white-btn:hover{
    background-color: var(--primary-color);
    border: 2px solid transparent;
}

.hero-image-container{
    min-width: 50%
}
.hero-image{
    width: 500px;
}

.logo-carousel{
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    gap:6rem;
}
.hero-logo{
    filter: grayscale(1);
}

.hero-logo:hover{
    filter: grayscale(0);
}

@keyframes slides {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 30px 0px;
    white-space: nowrap;
    position: relative;
  }
  
  .logos:before, .logos:after {
    position: absolute;
    top: 0;
    content: '';
    width: 250px;
    height: 100%;
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255,0), rgb(255, 255, 255));
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255,0), rgb(255, 255, 255));
  }
  
  .logo_items {
    animation: 60s slides infinite linear;
  }
  
  .logos:hover .logo_items {
    animation-play-state: paused;
  }
  


.services{
    width: 100%;
    margin: 2rem 0;
}

.service-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.service-heading{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:2.5rem;
    width: 100%;
    align-items: center;
}

.service-heading h2{
    background-color: var(--primary-color);
    border-radius:6px;
    padding: 2px 5px;
    align-self: flex-start;
}

.service-heading p{
    width: 50%;
}

.service-list{
    display: grid;
    grid-template-columns: auto auto ;
    gap: 60px;   
}

.service-card{
    background-color: var(--grey-color);
    padding: 3.125em 3.5em;
    border: 1px solid var(--secondary-color);
    border-radius: 2.813em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 5px 0px #191A23;
}
.service-card-text{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:stretch;
}

.service-card-text h3{
    display: inline-block;
    align-self: flex-start;
    border-radius:6px;
    padding: 2px 5px;
}

.service-card-text a{
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1.25rem;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    gap: 0.5rem;
    align-self: flex-start;
    border-bottom: 3px solid rgba(185, 255, 102, 0);
}

.service-card-text:hover a{
    border-bottom: 3px solid var(--primary-color);
}

.service-card-text a img{
    transform: rotateZ(0deg);
    transition: transform 300ms;
}

.service-card-text:hover a img{
    transform: rotateZ(180deg);
 }


 .service-card:nth-child(3n-1){
    background-color: var(--primary-color); 
}
.service-card:nth-child(3n-1) h3{
    background-color: white; 
}
.service-card:nth-child(3n-1) .service-card-text:hover a{
    border-bottom: 3px solid black;
}


.service-card:nth-child(3n){
    background-color: var(--secondary-color); 
}
.service-card:nth-child(3n) h3{
    background-color: white; 
    color: black;
}
.service-card:nth-child(3n) .service-card-text:hover a{
    border-bottom: 3px solid white;
}
.service-card:nth-child(3n) .service-card-text a{
    color:white;
}

.cta-section{
    background-color: var(--grey-color);
    width: 100%;
    margin: 5rem 0;
    padding: 3.75rem;
    border-radius: 45px;
    position: relative;
}
.cta-content{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
.cta-text{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap:1.625em;
}
.cta-img{
    position: absolute;
    right:0;

}


.case-studies-grid{
    background-color: var(--secondary-color);
    width: 100%;
    padding: 3.75rem;
    border-radius: 45px;
    position: relative;
    display: grid;
    grid-template-columns: auto 0.15rem auto 0.15rem auto ;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
}
 
.case-study{
    color:white;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: flex-start;
}
.case-study a{
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.25rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}
.case-study a:hover{
color:var(--grey-color)
}

.services.faq{
    margin: 3rem 0;
}

.faq-list{
    display: flex;
    flex-direction: column;
    gap:1.875em;
}

.faq-item{
    background-color: var(--grey-color);
    padding: 3.125em 3.5em;
    border: 1px solid var(--secondary-color);
    border-radius: 2.813em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:1.875em;
    box-shadow: 0px 5px 0px #191A23;
}
.faq-item-head{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.faq-item-head-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.faq-info{
    padding-top: 1.875em;
    border-top: 1px solid var(--secondary-color);
}

.faq-icon-wrapper{
background: #F3F3F3;
border: 1px solid #191A23;
border-radius:100%;
width: 58px;
height: 58px;
display: flex;
justify-content: center;
align-items: center;
position: relative;

}

.faq-icon-close{
    position: absolute;
}

.faq-item.open{
    background-color: var(--primary-color);
   
}

.team-list{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2.5rem;
}
.team-card{
    background-color: white;
    padding: 3.125em 3.5em;
    border: 1px solid var(--secondary-color);
    border-radius: 2.813em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:1.875em;
    box-shadow: 0px 5px 0px #191A23;
}
.team-card-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
}
.team-card-head-text{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: stretch;
}

.team-card-head-text a{
align-self: flex-end;
}

.team-name{
    align-self: flex-start;  
}

.team-img{
    clip-path: path("M84.631 48.9117C117.473 86.3213 87.1455 116.649 49.7359 83.8068C12.3263 116.649 -18.0016 86.3213 14.8408 48.9117C-18.0016 11.5021 12.3263 -18.8258 49.7359 14.0166C87.1455 -18.8258 117.473 11.5021 84.631 48.9117Z");
    filter: drop-shadow(5px 6px 0px #000000);
}
.team-info{
    border-top: 1px solid black;
}
.services.team{
    margin: 3rem 0;
    
}
.service-content.team .black-btn{
align-self: flex-end;
}


.services.testimonial{
    margin: 6rem 0;
    
}
.testimonial-wrapper{
    padding: 5rem 0;
    background-color: var(--secondary-color);
    color: white;
    width: 100%;
    border-radius: 45px;
}

.testimonial-card{
    display: flex;
    flex-direction: column;
    gap:1em;
    position: relative;   
}

.swiper.testimonial-slider{
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;   
}


.swiper-slide.testimonial-slider{
    width: 34rem;
    min-height: 350px;
    margin-left: 20px;
    
}

.testimonial-slide-nav{
    display: flex;
    gap: 1rem;
    color: rgba(12, 12, 12, 0.3);

}

.tslide-prev{
    transform: rotate(180deg);
    color: rgba(255, 255, 255, 0.3);
    cursor: pointer
}
.tslide-prev:hover{
    transform: rotate(180deg);
    color: white
}

.tslide-next{
    color: rgba(255, 255, 255, 0.3);
    cursor: pointer
}
.tslide-next:hover{
    color: white
}

.testimonial-card-content {
    padding: 30px 35px;
    position: relative;
    border-radius: 30px;
    border: 1px solid var(--primary-color);
  }


  
  .bubble-tip {
    position: absolute;
    bottom: 45.5px;
    left: 10%;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid var(--primary-color);
}

.bubble-tip:after {
    content: '';
    position: absolute;
    top: -21px;
    left: -14px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 19px solid #1a1a1a;
}
.testimonial-person{
    margin-left: 50px;
   position: relative;
   top: 20px;
   height: 100%;
}

/* Pagination container */
.tslide-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Spacing between bullets */
    
  }
  
  /* Default bullet design (inactive) */
  .custom-bullet {
    width: 20px;
    height: 20px;
    background-color: white;
    -webkit-mask: url('/img/paggination.svg') no-repeat center;
    mask: url('/img/paggination.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Active bullet design */
  .swiper-pagination-bullet-active {
    background-color: var(--primary-color); /* Bright green for the active bullet */
  }


  .message-option{
    display: flex;
    gap:1rem;
  }

  .radio-border{
    position: relative;
    border-radius: 100%;
    width:28px;
    height: 28px;
    border: 1px solid var(--secondary-color);
    padding: 5px;
  }

  .radio-circle{
    position: absolute;
    width:16px;
    height: 16px;
    background-color: var(--primary-color);
    border-radius: 100%;
  }

  .contact-wrapper{
    padding: 6.25rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grey-color);
    position: relative;
    border-radius: 45px;

  }

  .contact-form form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .form-group{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    position: relative;
  }

  .form-group input{
    width: 400px;
    padding: 1.125em 1.875em;
    font-size: 1.125rem;
    font-family: "Space Grotesk", sans-serif;
    margin: 0;
    border-radius: 14px;
    border: 1px solid var(--secondary-color)
  }

  .form-group select{
    appearance: none;
    width: 400px;
    padding: 1.125em 1.875em;
    font-size: 1.125rem;
    font-family: "Space Grotesk", sans-serif;
    margin: 0;
    border-radius: 14px;
    border: 1px solid var(--secondary-color)
  }



  .select-input::after{
    color: black;
    content: '▾';
    margin-right: 10px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 42px;
    font-size: 30px;
  }
  
  
  .form-option{
    display:flex;
    gap:1rem;
  }
  .message-option{
    display: flex;
    align-items: center;
  }

  .contact-wrapper img{
    align-self: flex-end;
    position: absolute;
    right: 0;
    top: 10%;
    height: 80%;
  }

  .radio-wrapper{
    cursor: pointer;
  }

  .quote-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }




  @media only screen and (max-width:840px) {
    
    .nav-links-wrapper{
        background-color: var(--secondary-color);
        display: flex;
        flex-direction: column;
        flex: 3;
        justify-content: space-between;
        align-items: flex-start;
        position:absolute;
        color:white;
        padding: 2rem 1rem 1rem 1rem;
        right: 0;
        top:0;
        transform: translateX(100%);
        transition: transform 400ms;
        gap:1rem;

    }
    .nav-links-wrapper .white-btn{
        align-self: center;
    }
    
    .nav-links-wrapper ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style: none;
        gap:1.5em;
        cursor: pointer;
    }
    
    .mobile-nav{
        cursor: pointer;
        display: block;
    }

    .mobile-nav.close{
        position:absolute;
        right: 35px;
        top:39px;
    }
    
    .hero-texts{
        width: 100%;
    }
    .hero-content{
     flex-wrap: wrap-reverse;   
    }
    .hero-image-container{
    width: 100%;
    display: flex;
    width: 100%;
    justify-content: center;
    }
    .hero h1,p{
        text-align: center;
    }
    .hero img{
        align-self: center;
        width: 400px;
    }
    .hero .black-btn{
        align-self: center;
    }
    .service-card-text{
        align-items:center;
    }
    .service-heading{
        justify-content: center;
        gap: 1rem;
       }
    .service-heading h2{
     align-self: center;
    }
    .service-heading p{
        width: 100%;
    }
    .service-list{
        display: grid;
        grid-template-columns: auto  ;
        gap: 60px;   
    }
    .service-card{
        flex-wrap: wrap-reverse;
        flex-direction: row;
        align-items: space-between;
        box-shadow: 0px 5px 0px #191A23;
        gap: 2.5rem;
    }
    .service-card-text{
        height: auto;
        gap: 1rem
    }
    
    .cta-content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        }
        .cta-text{
            width: 100%;
            display: flex;
            align-content: center;
            justify-content: center;
            flex-wrap: wrap;
        }
        .cta-text h3{
            text-align: center;
        }
        .cta-text .black-btn{
            align-self: center;
        }
        .cta-img{
            display: none;
            position: absolute;
            right:0;
        
        }
        .case-studies-grid{
            grid-template-columns: auto;            
        }
        .case-studies-grid .vertical-line{
         display: none;
        }
        .case-study{
         align-items: center;
        }
        .team-list{
            grid-template-columns: auto;
        }
        .service-content.team .black-btn {
            align-self: center;
        }
        .swiper-slide.testimonial-slider{
            width: 19rem;
            min-height: 450px;
            margin-left: 0;
        } 
        .testimonial-wrapper{
            padding: 5rem 1rem;
            background-color: var(--secondary-color);
            color: white;
            width: 100%;
            border-radius: 45px;
        }
        .swipr.testimonial-slider{
            gap: 3rem;   
        }
        .bubble-tip {
            bottom: 41px;
        }
        .testimonial-person{
            margin-left: 24px;
        }
        .contact-wrapper img{
            display: none;
          }
        .contact-form{
            width: 100%;
        }

        .form-group input{
            width:100%;
        }
        .form-group select{
            appearance: none;
            width: 100%;
          }
        .quote-wrapper{
            width: 100%;
          }
        
        
  }

  @media only screen and (max-width:430px) {
    .cta-section{
        background-color: var(--grey-color);
        width: 100%;
        margin: 5rem 0;
        padding: 2rem;
        border-radius: 45px;
        position: relative;
    }

    .faq-item{
        background-color: var(--grey-color);
        padding: 2em;
    }

    .faq-icon-wrapper{
        
        width: 38px;
        height: 38px;
        
    }

    .team-card{
        background-color: white;
        padding: 2em 2em;
        border: 1px solid var(--secondary-color);
    }
    .team-name{
        align-self: flex-end; 
        text-align: right; 
    }

    .contact-wrapper{
        padding:4rem 2rem;
      }

      .form-group select{
        appearance: none;
        width: 100%;
      }
      .quote-wrapper{
        width: 100%;
      }

  }